*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(95%, 96%, 97%);
    padding: 2rem;
}

h1 {
    text-align: center;
    font-size: 6rem;
    font-weight: bold;
    color: rgb(6%, 17%, 26%);
}

.line-title {
    display: inline-block;
    position: relative; 
    padding-bottom: 1rem;
}

.line-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%; /* Ajuste conforme necessário */
    height: 0.5rem; /* Espessura da linha */
    background-color: rgb(29%, 65%, 92%);
    border-radius: 1rem; /* Arredonda completamente */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


