/*Usados no elemento pai*/
.flex-container{
    height: 300px;
    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap; */
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: center;
    border: 2px solid red;
}

#um{
    width: 100px;
    height: 100px;
    font-size: 50px;
    background: chartreuse;
}

#dois{
    width: 100px;
    height: 100px;
    font-size: 50px;
    background: yellow;
}

#tres{
    width: 100px;
    height: 100px;
    font-size: 50px;
    background: turquoise;
}

.flex-item{
    order:2;
    /* flex-grow: 2; */
    flex-shrink: 4;
}