@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.attribution { font-size: 11px; text-align: center; color: white;}
.attribution a { color: hsl(228, 45%, 44%); }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    /* ### Primary */
    --softBlue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);

    /* ### Neutral */
    --veryDarkBlue: hsl(217, 54%, 11%); /*(main BG)*/
    --veryDarkBlue: hsl(216, 50%, 16%); /*(card BG)*/
    --veryDarkBlue: hsl(215, 32%, 27%); /*(line)*/
    --white: hsl(0, 0%, 100%);
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Outfit", sans-serif;
    width: 100vw;
    min-height: 100vh;
    background-color: hsl(217, 54%, 11%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    background-color: hsl(216, 50%, 16%);
    width: 30rem;
    margin-bottom: 4rem;
    padding: 2rem;
    border-radius: 1rem;
}

.img-principal {
    position: relative;
    display: block;
    background-image: url("./images/image-equilibrium.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1rem;
    width: 100%;
    aspect-ratio: 1 / 1;
}

.img-principal:hover::after{
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   z-index: 1;
   background-image: url("./images/icon-view.svg");
   background-repeat: no-repeat;
   background-position: center;
   background-color: hsla(178, 100%, 50%, 50%);
   border-radius: 1rem;
   cursor: pointer;
   width: 100%;
   aspect-ratio: 1 / 1;
}

.titulo-descricao{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.titulo-descricao h1 {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--white);
}

.titulo-descricao h1:hover {
    cursor: pointer;
    color: var(--cyan);
    transition: ease-in 0.3s;
}

.titulo-descricao p {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 160%;
    color: var(--softBlue);
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info .valor {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.2rem;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--cyan);
}

.info .valor::before {
    content: '';
    display: inline-block;
    width: 1.6rem;
    height: 1.6rem;
    background-image: url("./images/icon-ethereum.svg");
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.info .data {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.2rem;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--softBlue);
}

.info .data::before {
    content: '';
    display: inline-block;
    width: 1.6rem;
    height: 1.6rem;
    background-image: url("./images/icon-clock.svg");
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
}

hr {
    border: none;
    height: 0.05rem;
    background-color: var(--veryDarkBlue);
}

.criador {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1rem;
} 

.foto-perfil {
    background-image: url("./images/image-avatar.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: aqua;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 1px solid var(--white);
}

.criador p{
    font-size: 1.6rem;
    font-weight: 300;
    color: var(--softBlue);
}

.criador p > span {
    color: var(--white);
}

.criador p > span:hover {
    cursor: pointer;
    color: var(--cyan);
    transition: ease-in 0.3s;
}
